.app {
  padding: 20px;
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  color: white;
}

section {
  width: 600px;
  background: #3d3d3d;
  padding: 20px;
  margin-right: 20px;
}

a {
  color: #61dafb;
  cursor: pointer;
}
