.button {
  background: cyan;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  /* border-right: 1px solid darkcyan; */
  border: none;
  cursor: pointer;
  width: 197px;
}

.button:hover {
  background: darkcyan;
}